In [3]:
#Import Dependencies
#from alpha_vantage.timeseries import TimeSeries
#from API_key import api_key
import pandas as pd
import requests

In [4]:
#URL Basics
API_URL = "https://www.alphavantage.co/query" 
symbol = 'VLKPY'

In [5]:
#Data Extraction
data = { "function": "TIME_SERIES_DAILY", 
    "symbol": symbol,
    "outputsize" : "full",
    "datatype": "json", 
    "apikey": "api_key" }

In [6]:
#URL Response JSON
response = requests.get(API_URL, data) 
response_json = response.json()

In [7]:
#Pandas DataFraming
df = pd.DataFrame.from_dict(response_json['Time Series (Daily)'], orient= 'index').sort_index(axis=1)
df

            1. open  2. high   3. low 4. close 5. volume
2018-08-13  33.0700  33.0700  32.1100  32.1100      1259
2018-08-10  32.9400  33.3900  32.6300  32.8700     32827
2018-08-09  34.2400  34.2400  33.9600  34.1400      7483
2018-08-08  34.3100  34.3600  34.1300  34.1800     11478
2018-08-07  34.4450  34.4450  33.9400  34.0500     16007
...             ...      ...      ...      ...       ...
2007-07-20  21.5500  21.5500  21.5500  21.5500       200
2007-07-19  22.3000  22.3000  22.3000  22.3000         0
2007-07-18  22.3000  22.3000  22.3000  22.3000         0
2007-07-17  22.3000  22.3000  22.3000  22.3000         0
2007-07-16  22.3000  22.3000  22.3000  22.3000      4908

[2782 rows x 5 columns]

In [6]:
df.to_csv('VW_all.csv')