In [47]:
#Import Dependencies
from alpha_vantage.timeseries import TimeSeries
from API_key import api_key
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [23]:
#URL Basics
API_URL = "https://www.alphavantage.co/query" 
symbol = 'GM'

In [24]:
#Data Extraction
data = { "function": "TIME_SERIES_DAILY", 
    "symbol": symbol,
    "outputsize" : "full",
    "datatype": "json", 
    "apikey": "api_key" }

In [25]:
#URL Response JSON
response = requests.get(API_URL, data) 
response_json = response.json()

In [37]:
#Pandas DataFraming
df = pd.DataFrame.from_dict(response_json['Time Series (Daily)'], orient= 'index').sort_index(axis=1)
df

            1. open  2. high   3. low 4. close  5. volume
2021-02-12  53.0000  54.1900  52.9600  53.6000   15317421
2021-02-11  53.6100  53.8000  52.3500  53.5000   29871445
2021-02-10  55.6100  55.6900  52.5100  54.8800   55046641
2021-02-09  56.5400  56.9400  55.7350  56.0600   24623982
2021-02-08  56.0000  57.0500  55.6700  56.8800   26989995
...             ...      ...      ...      ...        ...
2010-11-24  33.7300  33.8000  33.2200  33.4800   26138000
2010-11-23  33.9500  33.9900  33.1900  33.2500   31170200
2010-11-22  34.2000  34.4800  33.8100  34.0800   36650600
2010-11-19  34.1500  34.5000  33.1100  34.2600  107842000
2010-11-18  35.0000  35.9900  33.8900  34.1900  457044300

[2576 rows x 5 columns]

In [39]:
df.to_csv('GM_all.csv')