In [2]:
#Import Dependencies
from alpha_vantage.timeseries import TimeSeries
from API_key import api_key
import pandas as pd
import requests

In [3]:
#URL Basics
API_URL = "https://www.alphavantage.co/query" 
symbol = 'F'

In [4]:
#Data Extraction
data = { "function": "TIME_SERIES_DAILY", 
    "symbol": symbol,
    "outputsize" : "full",
    "datatype": "json", 
    "apikey": "api_key" }

In [5]:
#URL Response JSON
response = requests.get(API_URL, data) 
response_json = response.json()

In [7]:
#Pandas DataFraming
df = pd.DataFrame.from_dict(response_json['Time Series (Daily)'], orient= 'index').sort_index(axis=1)
df.head()

            1. open  2. high   3. low 4. close  5. volume
2021-02-12  11.4200  11.6200  11.3700  11.4500   44401187
2021-02-11  11.6600  11.7400  11.3100  11.4500   55762914
2021-02-10  12.0000  12.0200  11.5300  11.7600   75542190
2021-02-09  11.5400  12.0400  11.4900  11.9300  101531642
2021-02-08  11.5200  11.5800  11.3100  11.5600   75756688

In [8]:
df.to_csv('Ford_all.csv')