In [1]:
#Import Dependencies
from alpha_vantage.timeseries import TimeSeries
from API_key import api_key
import pandas as pd
import requests

In [2]:
#URL Basics
API_URL = "https://www.alphavantage.co/query" 
symbol = 'NSANY'

In [3]:
#Data Extraction
data = { "function": "TIME_SERIES_DAILY", 
    "symbol": symbol,
    "outputsize" : "full",
    "datatype": "json", 
    "apikey": "api_key" }

In [4]:
#URL Response JSON
response = requests.get(API_URL, data) 
response_json = response.json()

In [5]:
#Pandas DataFraming
df = pd.DataFrame.from_dict(response_json['Time Series (Daily)'], orient= 'index').sort_index(axis=1)
df

            1. open  2. high   3. low 4. close 5. volume
2021-02-12  12.1425  12.1900  12.0200  12.1000    129496
2021-02-11  12.3000  12.7400  12.3000  12.5800    118621
2021-02-10  12.4100  12.5200  12.3100  12.4600    152769
2021-02-09  12.0400  12.2600  12.0400  12.2600    237790
2021-02-08  12.0000  12.0800  11.8500  12.0150     97228
...             ...      ...      ...      ...       ...
2009-08-07  14.3100  14.6700  14.3100  14.5600    260810
2009-08-06  14.6000  14.7300  14.5500  14.6200    503604
2009-08-05  14.2500  14.4000  14.2100  14.2900    518255
2009-08-04  14.8000  14.8000  14.5000  14.5400    421751
2009-08-03  15.3500  15.6500  15.2000  15.4500    310303

[2897 rows x 5 columns]

In [6]:
df.to_csv('Nissan_all.csv')